pipenv==2023.7.11
poetry==1.5.1
virtualenv==20.24.1
pydeck==0.8.0
pandas==2.1.1
streamlit==1.25.0
requests==2.31.0
pyvis==0.3.2
ipaddress==1.0.23
ping3==3.0.0
python-nmap==0.7.1
matplotlib==3.7.2
plotly-express==0.4.1