[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "==2023.10.20"
poetry = "==1.6.1"
virtualenv = "==20.24.5"
pydeck = "==0.8.0"
pandas = "==2.1.1"
streamlit = "==1.27.0"
requests = "==2.31.0"
pyvis = "==0.3.2"
ipaddress = "==1.0.23"
ping3 = "==4.0.4"
python-nmap = "==0.7.1"
matplotlib = "==3.8.0"
plotly-express = "==0.4.1"
pytest = "==7.4.2"
pytest-playwright = "==0.4.3"
dnspython = "==2.4.2"
pylint = "==2.11.1"

[dev-packages]

[requires]
python_version = "3.9"
